*{
    margin: 0;
    line-height: 10px;
    font-family: 'Courier New', Courier, monospace;
}


div{
    color: white;
    background: black;
    height: 20px;
    width: 380px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    
}
body{
    background-color: yellow;

}